.header__text
{
    max-width: 67%;
    padding-bottom: 3rem;
    margin: 3rem auto 5rem auto;
    text-align: center;

    
        h1 
        {
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        h2 
        {
            font-size: 1.8rem;
            font-weight: 600;
            color:rgba(88, 80, 80, 0.51);

        }
   
}


@media only screen and (max-width:500px)
{
    .header__text

    {
        max-width: 80%;
    }
}